
  <div class="table-responsive">
    <table class="table">
      <thead>
        <tr>
          <th>#</th>
          <th>Firstname</th>
          <th>Lastname</th>
          <th>Email</th>
          <th>Password</th>
          <th>Role</th>
          <th></th>
          <th></th>
        </tr>
    </thead>
    <tbody>
      <tr *ngFor="let item of userslist | async; let i = index">
        <td>{{i+1}}</td>
        <td>{{item.firstname}}</td>
        <td>{{item.lastname}}</td>
        <td>{{item.email}}</td>
        <td>{{item.password}}</td>
        <td>{{item.user}}</td>
        <td><button type="button" class="btn btn-primary">Update</button></td>
        <td><button type="button" class="btn btn-danger">Delete</button></td>
      <tr>
    </tbody>
  </table>
  </div>
